# Файлы окружения и секреты
.env

# База данных
*.db
*.sqlite3

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/
.env/

# IDE и системные файлы
.vscode/
.idea/
.DS_Store
Thumbs.db

# Логи
*.log
log.txt
